.errors {
	background-color: #4444ff;
	border: 3px solid red;
	width: 500px;
}

.errors ul li {
	background-color: #e43741;
	width: 250px;
}

.main-table tr:nth-child(even) {
	background-color: lightblue;
}

.main-table tr:nth-child(1) td {
	font-weight: bold;
	background-color: #ECF0F1;
	height: 30px;
	font-size: 1.3em;
}

.new-table-wrapper {
	width: 300px;
	background-color: #ECF0F1;
	border: 1px solid #DADFE1;
	padding: 20px;
}

.new-table:nth-child(0) {
	background-color: red;
}

.main-table-wrapper {
	text-align: center;
	background-color: #ECF0F1;
	padding: 20px;
}

.main-table-wrapper th {
	text-align: center;
}

.add-button {
	background-color: #AEA8D3;
	color: #fff;
	font-weight: bold;
	width: 150px;
}

.show-button, .edit-button, .del-button, .back-button {
	width: 60px;
	height: 22px;
	padding: 0px;
	color: #fff;
	font-weight: bold;
}

.show-button {
	background-color: #68C3A3;
}

.edit-button {
	background-color: #59ABE3;
}

.del-button {
	background-color: #D24D57;
}

.back-button {
	background-color: #59ABE3;
}

.review-button {
	width: 120px;
	height: 22px;
	padding: 0px;
	color: #fff;
	font-weight: bold;
}

.heading-index {
	float: left;
}

.search-box {
	float: right;
	margin-bottom: 25px;
}

.search-box input {
	width: 200px;
	height: 40px;
}

.search-box .search-button {
	width: 50px;
	background-color: #AEA8D3;
	font-weight: bolder;
	color: #fff;
}

.search-button:hover {
	color: #000;
}