.errors {
	background-color: #4444ff;
	border: 3px solid red;
	width: 500px;
}

.errors ul li {
	background-color: #e43741;
	width: 250px;
}

.main-table tr:nth-child(even) {
	background-color: lightblue;
}

.main-table tr:nth-child(1) td {
	font-weight: bold;
	background-color: #FFF1D0;
	height: 30px;
	font-size: 1.3em;
}

.new-table-wrapper {
	width: 300px;
	background-color: #ECF0F1;
	border: 1px solid #DADFE1;
	padding: 20px;
}

.new-table:nth-child(0) {
	background-color: red;
}

.main-table-wrapper {
	text-align: center;
	background-color: #FFF1D0;
	padding: 20px;
}

.main-table-wrapper th {
	text-align: center;
}

.filters {
	display: inline-block;
	margin-left: 50px;
}

.platform {
	border: 2px solid #06AED5;
	color: #000;
	font-weight: bold;
	width: 50px;
	height: 20px;
	font-size: 10px;
	padding: 2px;
	margin: 2px;
}

.platform:hover {
	color: red;
}

.add-button {
	background-color: #06AED5;
	color: #fff;
	font-weight: bold;
	width: 150px;
}

.show-button, .edit-button, .del-button, .back-button {
	width: 60px;
	height: 22px;
	padding: 0px;
	color: #fff;
	font-weight: bold;
}

.show-button {
	background-color: #68C3A3;
}

.edit-button {
	background-color: #086788;
}

.del-button {
	background-color: #DD1C1A;
}

.back-button {
	background-color: #086788;
}

.review-button {
	width: 120px;
	height: 22px;
	padding: 0px;
	color: #fff;
	font-weight: bold;
}

.heading-index {
	float: left;
}

.search-box {
	float: right;
	margin-bottom: 25px;
}

.search-box input {
	width: 200px;
	height: 40px;
}

.search-box .search-button {
	width: 50px;
	background-color: #06AED5;
	font-weight: bolder;
	color: #fff;
}

.search-button:hover {
	color: #000;
}

.notice {
	background-color: #C8F7C5;
	display: block;
	width: auto;
	padding-top: 8px;
}

.error {
	background-color: #DD1C1A;
	display: block;
	width: auto;
	padding-top: 8px;
}

.selected {
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 14px;
}

.asc {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR16P1YxeR4tArNfns7F-pWSKUshHN1kBgB_JjcSqyIgW8T7O6ODEb32w);
}

.desc {
	background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTK7Co2Sbh7jzJbsjuV7BvAUpgCRRPAXBzb-aD6c2DmQq2au55zefsaIA);
}